results/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
.test/*.zip
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
working_directori*/**
working_directory_*/**